/*This CSS links to index.html*/

ul {
  text-align: center;
}

nav li {
  display: inline;
  margin: auto;

}

.button {
  font-family: 'Crete Round', serif;
  font-size: 16px;
  border-radius: 5px;

}

body {
  background-color: #FFFAF0;
  color: black;
  font-family: 'Crete Round', serif;
}

.content {
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
}

img {
  border-style: none;
  border-width: 1px;
  border-radius: 10px;
}

#homePics {
  width: 650px;
  height: 200px;
  display: block;
  margin: auto;
  padding-top: 20px;
}

#shirt {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

/*hover effects taken and modified from https://codepen.io/nxworld/pen/ZYNOBZ*/
#shirt:hover {
  -webkit-transform: scale(1.0);
  	transform: scale(1.2);
}

#cutter {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
  width: 276px;
  height:150px;
  margin-top:0px;
  position: absolute;

}

#cutter:hover {
  -webkit-transform: scale(1.0);
  	transform: scale(1.3);

}

#frost {
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#frost:hover {
  -webkit-transform: scale(1.0);
  	transform: scale(1.3);

}

#aboutDiv {
  display: block;
  position: relative;
  margin: auto;
  text-align: center;
  margin-top: 200px;
}

#aboutDiv > p {
  font-size: 17px;
  text-align: left;
  margin: 20px; 20px; 20px; 20px;

}

#family {
  width: 500px;
  height: 300px;
  float: left;
}

#locationsDiv {
  margin-top: 200px;

}

#fish {
  display: inline-block;
  float: left; 
  width: 200px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#locationsDiv > div {
  display: inline-block;
  padding: 20px 20px 20px 20px;
  font-size: 20px;
}



/*=================*/
#clearInfo {
  /*margin-left: 20px; */
}

#newInfo {
  dislay: block;
}

tr {
  border-width: medium;
  border-color: black;
  border-style: solid;
}

#cookiesSoldPerHour {
  border-width: medium;
  border-color: black;
  border-style: solid;
}

td {
  border-width: medium;
  border-color: black;
  border-style: solid;
}

legend {
  font-size: 20px ;
}

table {
  margin-top: 20px;
  /*border-radius: 100px;*/
  padding: 20px;
}

label {
  //padding-bottom: 20px;
}
